body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: steelblue;
    color: white;
    padding: 20px
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}

