/* Reset básico */
* {
    box-sizing: border-box;
}

/* Estilos globales */
body {
    margin: o;
    background-color: #f4f4f4;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Contenedor reutilizable */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    background-color: #222;
    color: white;
    }

.header h1 {
    margin-bottom: 5px;
}

/* Secciones */
.section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

/*Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}
.project {
    border-left: 4px solid steelblue;
    padding-left: 10px;
    transition: transform 0.2s ease;
}
.project:hover {
    transform: translateX(5px);
}
@media (max-width: 768px)
body {
    font=size: 16px;
}
.header{
    text-align: center;
}
.container {
    padding: 15px;
}
h1 {
    font-size: 1.8rem;
}
.section {
    padding: 15px;
}
